html {
  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/bank-cartoon-background-vector_f1kAP1___SB_PM.jpg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.App {
  border-style: ridge;
  padding: 40px;
  border-radius: 10px;
}
.Input {
  padding: 10px 15px 10px 50px;
  margin-top: 20px;
}

.button {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
